Search: <input type="text" ng-model="search.name">
<ul>
  <li ng-repeat="todo in todos | filter: search">
    <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
    <a ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>
    <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
    <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

    <input ng-show="editing[$index]" type="text" ng-model="todo.name">
    <button ng-show="editing[$index]" ng-click="update($index)">update</button>
    <button ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
  </li>
</ul>
New task <input type="text" ng-model="newTodo"><button ng-click="save()">Create</button>
